

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {margin:0 auto;
     width:960px;}

#site-wrapper{
}


#site-header {
	position:relative;
	height:150px;
	background-color:#F4F4F4;
}

#site-header h1 a{display: block;
	width:300px;
	height:125px;
	padding-left:200px;
}

#top-nav a{float:right;
	text-decoration:none;
	color:#744918;
}

li a{float:left;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;}

#main-menu li a{float:left;
	margin:20px;
	text-decoration:none;
	background-color:#744918;
	color:#FFFFFF;}
	
#site-wrapper{}

#content {width:600px;
	margin-bottom:40px;}

#page h1 { font-family:helvetica;
	font-size:30px;
	padding:10px 0px;
	margin-left:200px;
	color:#744918;}

#page h2{ font-family:helvetica;
	font-size:18px;
	margin-left:200px;
	color:#744918;}

#page p{ font-family:helvetica;
	font-size:10px;
	color:#666666;
	width:50%;
	margin:10px 0px 10px 200px;}
	
#sidebar{ float:right;
	width:40%;}
	
#sidebar h1{ font-family:helvetica;
	font-size:14px;
	margin-left:30px;
	color:#744918;}
	
#sidebar p{font-family:helvetica;
	font-size:10px;
	color:#744918;
	margin:10px 0px 10px 30px;}
	
#site-footer {height:100px;
	font-family:helvetica;
	font-size:10px;
	color:#FFF;
	background-color:#744918;}
	
#footer-contact h1{ width:300px;
	padding:20px 0px 5px 200px;
	font-size:12px;}

#footer-contact p{ padding-left:200px;
	font-size:10px;}
	
#footer-follow {float:right;}
	